body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    position: relative;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 10px;
}

header {
    color: white;
    text-align: center;
    font-size: 48px;
    flex-grow: 1;
    padding: 5px;
}

.line {
    background-color: #404040;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-line {
    background-color: #b3b3b3;
    width: 1px;
    height: 90%;
}

#contents {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #181818;
    margin-top: 5px;
    margin-bottom: 5px;
}

#card-list {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.book-card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #404040;
    flex-grow: 1;
    margin: 5px;
    border-radius: 15px;
    justify-content: flex-start;
}

.main-card-display {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: space-evenly;
}

.aux-card-display {
    display: flex;
    flex-direction: row;
    flex: 0 0 35%;
    align-items: center;
    justify-content: flex-start;
}

.book-title {
    font-size: 36px;
    padding: 1px;
    flex-wrap: wrap;
}

.book-author {
    font-size: 16px;
    padding-left: 30px;
    color: #b3b3b3;
}

.book-num-pages {
    font-size: 20px;
    padding: 10px;
}

.book-status-display {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    padding: 10px;
    flex: 0 0 41%;
}

.floating-button {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 40px;
    bottom: 40px;
    background-color: #404040;
    color: #69e0a5;
    border-radius: 50px;
    text-align: center;
}

.floating-button:hover {
    cursor: pointer;
    color: #ffffff
}

.floating-sign {
    user-select: none;
    font-size: 48px;
}

#footer {
    font-style: italic;
    color: #b3b3b3;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
}

.read {
    padding-left: 5px;
    color: #69e0a5;
}

.not-read {
    padding-left: 5px;
    color: #e069a4;
}

.card-delete-button {
    user-select: none;
    margin-left: 10px;
    text-align: center;
    line-height: 27px;
    background-color: #e069a4;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: #404040;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.card-delete-button:hover {
    color: #ffffff;
}

.status-dropdown {
    margin-left: 5px;
    position: relative;
    display: inline-block;
}

.status-dropdown-button {
    border-radius: 5px;
    text-align: center;
    user-select: none;
}

.status-dropdown-content {
    user-select: none;
    display: none;
    position: absolute;
    border: 1px solid #404040;
    margin: 5px;
    background-color: #181818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.status-dropdown-content div {
    display: block;
}

.status-dropdown-content div:hover {
    background-color: #404040;
}

.status-dropdown:hover {
    cursor: pointer;
}

.status-dropdown:hover .status-dropdown-content {
    display: block;
}

.status-dropdown:hover .status-dropdown-button {
    background-color: #181818;
}

.new-book-form {
    position: absolute;
    background: #181818;
    width: 33%;
    min-height: 330px;;
    top: 33%;
    left: 33%;
    text-align: center;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-book-form-header {
    font-size: 24px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.new-book-field {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.new-book-form-field-text {
    text-align: left;
    flex: 0 0 15%;
}

.new-book-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.new-book-input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    flex: 0 0 75%;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    min-height: 33px;
    background-color: #181818;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-indent: 10px;
    outline: none;
}

input:focus {
    border: 1px solid #ffffff;
}

.blur {
    filter: blur(10px);
}

.hidden {
    display: none;
}

.unclickable {
    pointer-events: none;
    user-select: none;
}

.form-button {
    font-size: 18px;
    user-select: none;
    margin: 30px;
    background-color: #181818;
    border: 1px solid #b3b3b3;
    color: #ffffff;
    border-radius: 50px;
    min-width: 150px;
    min-height: 50px;
}

.submit-button {
    color: #69e0a5;
    border: 1px solid #69e0a5;
}

.submit-button:hover {
    color: #181818;
    background-color: #69e0a5;
}

.cancel-button {
    color: #e069a4;
    border: 1px solid #e069a4;
}

.cancel-button:hover {
    color: #181818;
    background-color: #e069a4;
}

.pages-spinner {
    margin-right: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #181818;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    color: #ffffff;
    min-height: 30px;
}

.pages-spinner:focus {
    border: 1px solid #ffffff
}

input[type=number]::-webkit-inner-spin-button {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.status-select {
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    min-height: 30px;
    background-color: #181818;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

.status-select:focus {
    border: 1px solid #ffffff;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }